  <div class="single-item" id="featured-slider">
         <div class="featured-slide-dimensions">
             <button class="featured-read-button"><i class="fa fa-book" aria-hidden="true"></i>Read</button>
             <button class="featured-shelf-button"><i class="fa fa-plus" aria-hidden="true"></i>My Shelf</button>
             <p class="featured-description"> Rachel Green, Ross Geller, Monica Geller, Joey Tribbiani, Chandler Bing and Phoebe Buffay are six 20 something year-olds, living off of one another in the heart of New York City. Over the course of ten years, this average group of buddies goes through massive mayhem, family trouble, past and future romances, fights, laughs, tears and surprises as they learn what it really means to be a friend.</p>
             <img class="featured-image-title" src="http://fanart.tv/fanart/tv/79168/clearlogo/friends-79168.png">
             <img class="featured-image" src="http://kb4images.com/images/friends-wallpaper/36216465-friends-wallpaper.jpg">
             <img class="featured-gradient-super" src="posters/featgrad.png">
        </div>
     <div class="featured-slide-dimensions">
             <button class="featured-read-button"><i class="fa fa-book" aria-hidden="true"></i>Read</button>
             <button class="featured-shelf-button"><i class="fa fa-plus" aria-hidden="true"></i>My Shelf</button>
             <p class="featured-description"> In crime ridden Gotham City, Thomas and Martha Wayne are murdered before young Bruce Wayne's eyes. Although the idealistic Gotham City Police Dept. detective James Gordon, and his cynical partner, Harvey Bullock, seem to solve the case quickly, things are not so simple. </p>
             <img class="featured-image-title" src="https://www.returndates.com/backgrounds/gotham.logo.png">
             <img class="featured-image" src="https://images2.alphacoders.com/694/thumb-1920-694497.jpg">
             <img class="featured-gradient-super" src="posters/featgrad.png">
        </div>
           <div class="featured-slide-dimensions">
             <button class="featured-read-button"><i class="fa fa-book" aria-hidden="true"></i>Read</button>
             <button class="featured-shelf-button"><i class="fa fa-plus" aria-hidden="true"></i>My Shelf</button>
             <p class="featured-description"> In crime ridden Gotham City, Thomas and Martha Wayne are murdered before young Bruce Wayne's eyes. Although the idealistic Gotham City Police Dept. detective James Gordon, and his cynical partner, Harvey Bullock, seem to solve the case quickly, things are not so simple. </p>
             <img class="featured-image-title" src="https://www.returndates.com/backgrounds/gotham.logo.png">
             <img class="featured-image" src="https://images2.alphacoders.com/694/thumb-1920-694497.jpg">
             <img class="featured-gradient-super" src="posters/featgrad.png">
        </div>
           <div class="featured-slide-dimensions">
             <button class="featured-read-button"><i class="fa fa-book" aria-hidden="true"></i>Read</button>
             <button class="featured-shelf-button"><i class="fa fa-plus" aria-hidden="true"></i>My Shelf</button>
             <p class="featured-description"> In crime ridden Gotham City, Thomas and Martha Wayne are murdered before young Bruce Wayne's eyes. Although the idealistic Gotham City Police Dept. detective James Gordon, and his cynical partner, Harvey Bullock, seem to solve the case quickly, things are not so simple. </p>
             <img class="featured-image-title" src="https://www.returndates.com/backgrounds/gotham.logo.png">
             <img class="featured-image" src="https://images2.alphacoders.com/694/thumb-1920-694497.jpg">
             <img class="featured-gradient-super" src="posters/featgrad.png">
        </div>
           <div class="featured-slide-dimensions">
             <button class="featured-read-button"><i class="fa fa-book" aria-hidden="true"></i>Read</button>
             <button class="featured-shelf-button"><i class="fa fa-plus" aria-hidden="true"></i>My Shelf</button>
             <p class="featured-description"> In crime ridden Gotham City, Thomas and Martha Wayne are murdered before young Bruce Wayne's eyes. Although the idealistic Gotham City Police Dept. detective James Gordon, and his cynical partner, Harvey Bullock, seem to solve the case quickly, things are not so simple. </p>
             <img class="featured-image-title" src="https://www.returndates.com/backgrounds/gotham.logo.png">
             <img class="featured-image" src="https://images2.alphacoders.com/694/thumb-1920-694497.jpg">
             <img class="featured-gradient-super" src="posters/featgrad.png">
        </div>
           <div class="featured-slide-dimensions">
             <button class="featured-read-button"><i class="fa fa-book" aria-hidden="true"></i>Read</button>
             <button class="featured-shelf-button"><i class="fa fa-plus" aria-hidden="true"></i>My Shelf</button>
             <p class="featured-description"> In crime ridden Gotham City, Thomas and Martha Wayne are murdered before young Bruce Wayne's eyes. Although the idealistic Gotham City Police Dept. detective James Gordon, and his cynical partner, Harvey Bullock, seem to solve the case quickly, things are not so simple. </p>
             <img class="featured-image-title" src="https://www.returndates.com/backgrounds/gotham.logo.png">
             <img class="featured-image" src="https://images2.alphacoders.com/694/thumb-1920-694497.jpg">
             <img class="featured-gradient-super" src="posters/featgrad.png">
        </div>
  </div>
